<!DOCTYPE html>
<html>
<head>
  <title>LOGIN</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> <!-- this cdn must not be used if we want to use the downloaded bootstrap files-->
  <!-- <link rel="stylesheet" href="../../public/css/style.css"/> --> <!--proper route must be used--> <!-- figured it out, from stackoverflow: you cannot import files with handlebars, only partials-->

  <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="css/style.css"/> <!-- figured out why the css files were not being imported, it was because in app.js file, the 'public' had to have root designation '/' as in '/public' -->

</head>
<body>
  <div class="jumbotron"> 
    <h3>LOGIN</h3>
  </div>

  <div>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            {{#if user}} <!-- this code is for having the logout link option show if a user is logged in. We had to do it this way bc '!' is not allowed in handlebars-->
            <!-- also a quick note on making comments in handlebars, sometimes it will pick up certain syntax in the comments and cause it to affect the code-->
            <li role="presentation"><a href="/">Dashboard</a></li> <!-- '/' route leads to homepage or dashboard-->
            <li role="presentation"><a href="/users/logout">Logout</a></li>
            {{else}} <!-- had to use else bc '!' is not allowed in handlebars-->
            <!-- this code is for having the login and register link options show if a user is not logged in-->
            <li role="presentation"><a href="/users/login">Login</a></li> <!-- route leads to '/users/login' page-->
            <li role="presentation"><a href="/users/register">Register</a></li> <!-- route leads to '/users/register'-->
            {{/if}}
          </ul>
        </nav>
        <h3 class="text-muted">LOGIN</h3>
      </div>

      

      <div class="row">
        <div class="col-lg-12">
          <!-- the code below is for the msg from '/routes/users.js' file to be displayed, this is from bootstrap-->

            {{#if success_msg}} <!-- here, we're checking for a global variable, success_msg, remember, we had set this global variable in app.js-->
            <div class="alert alert-success">{{success_msg}}</div>
            {{/if}}

             {{#if error_msg}} <!-- here, we're checking for a global variable, error_msg, remember, we had set this global variable in app.js-->
            <div class="alert alert-danger">{{error_msg}}</div>
            {{/if}}

             {{#if error}} <!-- here, we're checking for a global variable, error, remember, we had set this global variable in app.js-->
            <div class="alert alert-danger">{{error}}</div>
            {{/if}}

          <!-- the code above is for the msg from '/routes/users.js' file to be displayed, this is from bootstrap-->
          {{{body}}} 
        </div>   
        <!--col-->

      </div><!-- class "row"-->

      <footer>
        <p> &copy; 2017 by me </p>
      </footer>

    </div><!-- container-->

</body> <!-- quick note: most files will be implemented with a simple refresh of the page, no server re-start required, however with js files, or route files, a server-restart will be needed for changes to be implemented-->
</html>